.side-menu {
	margin-top: 100px;
	position: fixed;
	top: 0;
	left: 0; 
	height: 100vh;
	width: 20%;
	background-color: white;
	overflow-y: auto;
}

.navbar-brand-img {
  width: 50px;
  height: 50px;
}

.dpd-bg {
  background-color: #5a5a5a;
}

.dpd-bg > li >  a:hover, .dpd-bg > li:hover {
  background-color: #5a5a5a;
}

.ml-10 {
	margin-left: 10px;
}

.mleft-250 {
	margin-left: 250px;
}

.mleft-100 {
	margin-left: 100px;
}

.push-down {
	margin-top: 100px;
}

.display-img {
	width: 100%;
}

.btn-h1-spacing {
	margin-top: 20px;
}

.cropped-show {
	width: 50px;
	height: 50px;
}

.tag-link {
	border: 1px solid #333;
	border-radius: 5px;
	color: #fff;
	background-color: #333;
	padding: 5px;
}


.list-group-item.active {
	border-left: 10px solid #0275d8;
	background-color: #fff;
}


@media only screen and (max-width: 992px) {
  .side-menu {
  	position: static;
  	margin-left: auto;
  	margin-right: auto;
  	height: auto;
  	width: 100%;
  }
}

@media only screen and (max-width: 542px) and  (min-width: 480px){
	a.btn.btn-danger {
		margin-top: 20px;
	}
	
}

@media screen and (max-width: 992px) {
	.table td {
		word-wrap: break-word;
		white-space: normal;
	}

	.small-screen-hide {
		display: none;
	}
}

@media screen and (min-width: 992px){
	#force-left {
		width: 80%;
		margin-left: 20%;
	}

	div.alert.alert-success, div.alert.alert-danger {
		margin-left: 20%;
	}
}
